sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyautogui
pyperclip
pygetwindow ; sys_platform == 'win32'
opencv-python
numpy
mss
Pillow
psutil
comtypes ; sys_platform == 'win32'
pycaw ; sys_platform == 'win32'
win10toast ; sys_platform == 'win32'
send2trash
youtube-transcript-api
pywinauto ; sys_platform == 'win32'
python-pptx
pyqt6